[Unit]
Description=NASA-OINV Project Visulizer API
Documentation=https://github.com/ChristoJobyAntony/nasa-oinv
After=network.target

[Service]
Environment=NODE_PORT=3001
Type=simple
User=ubuntu
ExecStart=/usr/bin/node /home/christo/Code/nasa-oinv/nasa-oinv/API/build/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target